<script lang="ts">
    import { Building, ExternalLink } from "lucide-svelte";
    import { version } from "$app/environment";
</script>

<footer class="flex mobile:flex-column flex flex-column">
    <h2 class="no-margin">☄️ Stellular</h2>
    <p>???</p>

    <div class="flex g-4 flex-wrap">
        <a
            href={`https://codeberg.org/SentryTwo/stellular/commit/${version}`}
            class="button border round"
            target="_blank"
        >
            <ExternalLink size={18} />
            {version}
        </a>

        <a
            href="https://sentrytwo.com"
            class="button invisible round"
            target="_blank"
        >
            <Building size={18} />
            SentryTwo
        </a>
    </div>
</footer>

<style>
    footer {
        padding: calc(var(--u-12) * 2) calc(var(--u-12) * 15);
        border-top: solid 1px var(--background-surface2a);
        margin-top: var(--u-12);
    }

    @media screen and (max-width: 900px) {
        footer {
            padding: calc(var(--u-10) * 2) var(--u-10);
            justify-content: center !important;
            align-items: center !important;
        }
    }
</style>
