<script lang="ts">
    export let s3_public_endpoint: string;
    export let user: string;
    
    export let size: number = 48;
</script>

<object
    title="Profile Photo"
    data={`https://${s3_public_endpoint}/avatars/${user}`}
    class="card border NoPadding"
    style={`border-radius: 360rem; height: ${size}px; min-width: ${size}px; width: ${size}px;`}
>
    <!-- fallback -->
    <img
        src={`/api/initials?text=${user}`}
        alt="User Profile"
        style={`border-radius: 360rem; height: ${size - 2}px;`}
    />
</object>
