<script lang="ts">
    export let topBorder: boolean = false;
</script>

<div
    class="card secondary hero flex flex-column g-8"
    style={`${topBorder === false ? "border-top: none;" : ""}`}
>
    <slot />
</div>

<style>
    .hero {
        padding: calc(var(--u-12) * 4) calc(var(--u-12) * 2);
        border-top: solid 1px var(--background-surface2a);
        border-bottom: solid 1px var(--background-surface2a);
        max-width: 100%;
    }

    @media screen and (max-width: 900px) {
        .hero {
            padding: calc(var(--u-10) * 2) var(--u-10);
        }
    }
</style>
