<script lang="ts">
    export const csr = true;

    // ...
    import { Copy, Link } from "lucide-svelte";
    import { ContextMenuStore } from "$lib/stores";
</script>

<!-- text selection -->
{#if window && window.getSelection() !== null && (window.getSelection() || "").toString()}
    <button
        class="round full justify-start"
        on:click={() =>
            navigator.clipboard.writeText((window.getSelection() || "").toString())}
    >
        <Copy size={18} />
        Copy Text
    </button>
{/if}

<!-- image src -->
{#if $ContextMenuStore && $ContextMenuStore.nodeName === "IMG"}
    <button
        class="round full justify-start"
        on:click={() =>
            navigator.clipboard.writeText(
                (
                    $ContextMenuStore || {
                        getAttribute() {
                            return "";
                        },
                    }
                ).getAttribute("src") || ""
            )}
    >
        <Link size={18} />
        Copy Image URL
    </button>
{/if}
